<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bdqn.dao.itripAreaDic.ItripAreaDicMapper" >
  <resultMap id="BaseResultMap" type="com.bdqn.pojo.ItripAreaDic" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="areaNo" property="areano" jdbcType="VARCHAR" />
    <result column="parent" property="parent" jdbcType="BIGINT" />
    <result column="isActivated" property="isactivated" jdbcType="INTEGER" />
    <result column="isTradingArea" property="istradingarea" jdbcType="INTEGER" />
    <result column="isHot" property="ishot" jdbcType="INTEGER" />
    <result column="level" property="level" jdbcType="INTEGER" />
    <result column="isChina" property="ischina" jdbcType="INTEGER" />
    <result column="pinyin" property="pinyin" jdbcType="VARCHAR" />
    <result column="creationDate" property="creationdate" jdbcType="TIMESTAMP" />
    <result column="createdBy" property="createdby" jdbcType="BIGINT" />
    <result column="modifyDate" property="modifydate" jdbcType="TIMESTAMP" />
    <result column="modifiedBy" property="modifiedby" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, areaNo, parent, isActivated, isTradingArea, isHot, level, isChina, pinyin, 
    creationDate, createdBy, modifyDate, modifiedBy
  </sql>
  <select id="selectByName" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from itrip_area_dic
    <where>
    	<if test="name != null and name !=''">
    		name = CONCAT('%',#{name},'%')
    	</if>
     </where>
  </select>
  <select id="selectById" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from itrip_area_dic
    <where>
    	<if test="id != null and id !=''">
    		id = #{id}
    	</if>
     </where>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from itrip_area_dic
    where id = #{id,jdbcType=BIGINT}
  </delete>
<!--   <insert id="insert" parameterType="com.bdqn.pojo.ItripAreaDic" >
    insert into itrip_area_dic (id, name, areaNo, 
      parent, isActivated, isTradingArea, 
      isHot, level, isChina, 
      pinyin, creationDate, createdBy, 
      modifyDate, modifiedBy)
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{areano,jdbcType=VARCHAR}, 
      #{parent,jdbcType=BIGINT}, #{isactivated,jdbcType=INTEGER}, #{istradingarea,jdbcType=INTEGER}, 
      #{ishot,jdbcType=INTEGER}, #{level,jdbcType=INTEGER}, #{ischina,jdbcType=INTEGER}, 
      #{pinyin,jdbcType=VARCHAR}, #{creationdate,jdbcType=TIMESTAMP}, #{createdby,jdbcType=BIGINT}, 
      #{modifydate,jdbcType=TIMESTAMP}, #{modifiedby,jdbcType=BIGINT})
  </insert> -->
  <insert id="insertSelective" parameterType="com.bdqn.pojo.ItripAreaDic" >
    insert into itrip_area_dic
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="areano != null" >
        areaNo,
      </if>
      <if test="parent != null" >
        parent,
      </if>
      <if test="isactivated != null" >
        isActivated,
      </if>
      <if test="istradingarea != null" >
        isTradingArea,
      </if>
      <if test="ishot != null" >
        isHot,
      </if>
      <if test="level != null" >
        level,
      </if>
      <if test="ischina != null" >
        isChina,
      </if>
      <if test="pinyin != null" >
        pinyin,
      </if>
      <if test="creationdate != null" >
        creationDate,
      </if>
      <if test="createdby != null" >
        createdBy,
      </if>
      <if test="modifydate != null" >
        modifyDate,
      </if>
      <if test="modifiedby != null" >
        modifiedBy,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="areano != null" >
        #{areano,jdbcType=VARCHAR},
      </if>
      <if test="parent != null" >
        #{parent,jdbcType=BIGINT},
      </if>
      <if test="isactivated != null" >
        #{isactivated,jdbcType=INTEGER},
      </if>
      <if test="istradingarea != null" >
        #{istradingarea,jdbcType=INTEGER},
      </if>
      <if test="ishot != null" >
        #{ishot,jdbcType=INTEGER},
      </if>
      <if test="level != null" >
        #{level,jdbcType=INTEGER},
      </if>
      <if test="ischina != null" >
        #{ischina,jdbcType=INTEGER},
      </if>
      <if test="pinyin != null" >
        #{pinyin,jdbcType=VARCHAR},
      </if>
      <if test="creationdate != null" >
        #{creationdate,jdbcType=TIMESTAMP},
      </if>
      <if test="createdby != null" >
        #{createdby,jdbcType=BIGINT},
      </if>
      <if test="modifydate != null" >
        #{modifydate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedby != null" >
        #{modifiedby,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bdqn.pojo.ItripAreaDic" >
    update itrip_area_dic
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="areano != null" >
        areaNo = #{areano,jdbcType=VARCHAR},
      </if>
      <if test="parent != null" >
        parent = #{parent,jdbcType=BIGINT},
      </if>
      <if test="isactivated != null" >
        isActivated = #{isactivated,jdbcType=INTEGER},
      </if>
      <if test="istradingarea != null" >
        isTradingArea = #{istradingarea,jdbcType=INTEGER},
      </if>
      <if test="ishot != null" >
        isHot = #{ishot,jdbcType=INTEGER},
      </if>
      <if test="level != null" >
        level = #{level,jdbcType=INTEGER},
      </if>
      <if test="ischina != null" >
        isChina = #{ischina,jdbcType=INTEGER},
      </if>
      <if test="pinyin != null" >
        pinyin = #{pinyin,jdbcType=VARCHAR},
      </if>
      <if test="creationdate != null" >
        creationDate = #{creationdate,jdbcType=TIMESTAMP},
      </if>
      <if test="createdby != null" >
        createdBy = #{createdby,jdbcType=BIGINT},
      </if>
      <if test="modifydate != null" >
        modifyDate = #{modifydate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedby != null" >
        modifiedBy = #{modifiedby,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
 <!--  <update id="updateByPrimaryKey" parameterType="com.bdqn.pojo.ItripAreaDic" >
    update itrip_area_dic
    set name = #{name,jdbcType=VARCHAR},
      areaNo = #{areano,jdbcType=VARCHAR},
      parent = #{parent,jdbcType=BIGINT},
      isActivated = #{isactivated,jdbcType=INTEGER},
      isTradingArea = #{istradingarea,jdbcType=INTEGER},
      isHot = #{ishot,jdbcType=INTEGER},
      level = #{level,jdbcType=INTEGER},
      isChina = #{ischina,jdbcType=INTEGER},
      pinyin = #{pinyin,jdbcType=VARCHAR},
      creationDate = #{creationdate,jdbcType=TIMESTAMP},
      createdBy = #{createdby,jdbcType=BIGINT},
      modifyDate = #{modifydate,jdbcType=TIMESTAMP},
      modifiedBy = #{modifiedby,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update> -->
</mapper>