<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bdqn.dao.ItripHotelMapper" >
  <resultMap id="BaseResultMap" type="com.bdqn.pojo.ItripHotel" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="hotelName" property="hotelname" jdbcType="VARCHAR" />
    <result column="countryId" property="countryid" jdbcType="BIGINT" />
    <result column="provinceId" property="provinceid" jdbcType="BIGINT" />
    <result column="cityId" property="cityid" jdbcType="BIGINT" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="hotelType" property="hoteltype" jdbcType="INTEGER" />
    <result column="hotelLevel" property="hotellevel" jdbcType="INTEGER" />
    <result column="isGroupPurchase" property="isgrouppurchase" jdbcType="INTEGER" />
    <result column="redundantCityName" property="redundantcityname" jdbcType="VARCHAR" />
    <result column="redundantProvinceName" property="redundantprovincename" jdbcType="VARCHAR" />
    <result column="redundantCountryName" property="redundantcountryname" jdbcType="VARCHAR" />
    <result column="redundantHotelStore" property="redundanthotelstore" jdbcType="INTEGER" />
    <result column="creationDate" property="creationdate" jdbcType="TIMESTAMP" />
    <result column="createdBy" property="createdby" jdbcType="BIGINT" />
    <result column="modifyDate" property="modifydate" jdbcType="TIMESTAMP" />
    <result column="modifiedBy" property="modifiedby" jdbcType="BIGINT" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.bdqn.pojo.ItripHotelWithBLOBs" extends="BaseResultMap" >
    <result column="details" property="details" jdbcType="LONGVARCHAR" />
    <result column="facilities" property="facilities" jdbcType="LONGVARCHAR" />
    <result column="hotelPolicy" property="hotelpolicy" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, hotelName, countryId, provinceId, cityId, address, hotelType, hotelLevel, isGroupPurchase, 
    redundantCityName, redundantProvinceName, redundantCountryName, redundantHotelStore, 
    creationDate, createdBy, modifyDate, modifiedBy
  </sql>
  <sql id="Blob_Column_List" >
    details, facilities, hotelPolicy
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from itrip_hotel
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from itrip_hotel
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.bdqn.pojo.ItripHotelWithBLOBs" >
    insert into itrip_hotel (id, hotelName, countryId, 
      provinceId, cityId, address, 
      hotelType, hotelLevel, isGroupPurchase, 
      redundantCityName, redundantProvinceName, 
      redundantCountryName, redundantHotelStore, 
      creationDate, createdBy, modifyDate, 
      modifiedBy, details, facilities, 
      hotelPolicy)
    values (#{id,jdbcType=BIGINT}, #{hotelname,jdbcType=VARCHAR}, #{countryid,jdbcType=BIGINT}, 
      #{provinceid,jdbcType=BIGINT}, #{cityid,jdbcType=BIGINT}, #{address,jdbcType=VARCHAR}, 
      #{hoteltype,jdbcType=INTEGER}, #{hotellevel,jdbcType=INTEGER}, #{isgrouppurchase,jdbcType=INTEGER}, 
      #{redundantcityname,jdbcType=VARCHAR}, #{redundantprovincename,jdbcType=VARCHAR}, 
      #{redundantcountryname,jdbcType=VARCHAR}, #{redundanthotelstore,jdbcType=INTEGER}, 
      #{creationdate,jdbcType=TIMESTAMP}, #{createdby,jdbcType=BIGINT}, #{modifydate,jdbcType=TIMESTAMP}, 
      #{modifiedby,jdbcType=BIGINT}, #{details,jdbcType=LONGVARCHAR}, #{facilities,jdbcType=LONGVARCHAR}, 
      #{hotelpolicy,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bdqn.pojo.ItripHotelWithBLOBs" >
    insert into itrip_hotel
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="hotelname != null" >
        hotelName,
      </if>
      <if test="countryid != null" >
        countryId,
      </if>
      <if test="provinceid != null" >
        provinceId,
      </if>
      <if test="cityid != null" >
        cityId,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="hoteltype != null" >
        hotelType,
      </if>
      <if test="hotellevel != null" >
        hotelLevel,
      </if>
      <if test="isgrouppurchase != null" >
        isGroupPurchase,
      </if>
      <if test="redundantcityname != null" >
        redundantCityName,
      </if>
      <if test="redundantprovincename != null" >
        redundantProvinceName,
      </if>
      <if test="redundantcountryname != null" >
        redundantCountryName,
      </if>
      <if test="redundanthotelstore != null" >
        redundantHotelStore,
      </if>
      <if test="creationdate != null" >
        creationDate,
      </if>
      <if test="createdby != null" >
        createdBy,
      </if>
      <if test="modifydate != null" >
        modifyDate,
      </if>
      <if test="modifiedby != null" >
        modifiedBy,
      </if>
      <if test="details != null" >
        details,
      </if>
      <if test="facilities != null" >
        facilities,
      </if>
      <if test="hotelpolicy != null" >
        hotelPolicy,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="hotelname != null" >
        #{hotelname,jdbcType=VARCHAR},
      </if>
      <if test="countryid != null" >
        #{countryid,jdbcType=BIGINT},
      </if>
      <if test="provinceid != null" >
        #{provinceid,jdbcType=BIGINT},
      </if>
      <if test="cityid != null" >
        #{cityid,jdbcType=BIGINT},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="hoteltype != null" >
        #{hoteltype,jdbcType=INTEGER},
      </if>
      <if test="hotellevel != null" >
        #{hotellevel,jdbcType=INTEGER},
      </if>
      <if test="isgrouppurchase != null" >
        #{isgrouppurchase,jdbcType=INTEGER},
      </if>
      <if test="redundantcityname != null" >
        #{redundantcityname,jdbcType=VARCHAR},
      </if>
      <if test="redundantprovincename != null" >
        #{redundantprovincename,jdbcType=VARCHAR},
      </if>
      <if test="redundantcountryname != null" >
        #{redundantcountryname,jdbcType=VARCHAR},
      </if>
      <if test="redundanthotelstore != null" >
        #{redundanthotelstore,jdbcType=INTEGER},
      </if>
      <if test="creationdate != null" >
        #{creationdate,jdbcType=TIMESTAMP},
      </if>
      <if test="createdby != null" >
        #{createdby,jdbcType=BIGINT},
      </if>
      <if test="modifydate != null" >
        #{modifydate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedby != null" >
        #{modifiedby,jdbcType=BIGINT},
      </if>
      <if test="details != null" >
        #{details,jdbcType=LONGVARCHAR},
      </if>
      <if test="facilities != null" >
        #{facilities,jdbcType=LONGVARCHAR},
      </if>
      <if test="hotelpolicy != null" >
        #{hotelpolicy,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bdqn.pojo.ItripHotelWithBLOBs" >
    update itrip_hotel
    <set >
      <if test="hotelname != null" >
        hotelName = #{hotelname,jdbcType=VARCHAR},
      </if>
      <if test="countryid != null" >
        countryId = #{countryid,jdbcType=BIGINT},
      </if>
      <if test="provinceid != null" >
        provinceId = #{provinceid,jdbcType=BIGINT},
      </if>
      <if test="cityid != null" >
        cityId = #{cityid,jdbcType=BIGINT},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="hoteltype != null" >
        hotelType = #{hoteltype,jdbcType=INTEGER},
      </if>
      <if test="hotellevel != null" >
        hotelLevel = #{hotellevel,jdbcType=INTEGER},
      </if>
      <if test="isgrouppurchase != null" >
        isGroupPurchase = #{isgrouppurchase,jdbcType=INTEGER},
      </if>
      <if test="redundantcityname != null" >
        redundantCityName = #{redundantcityname,jdbcType=VARCHAR},
      </if>
      <if test="redundantprovincename != null" >
        redundantProvinceName = #{redundantprovincename,jdbcType=VARCHAR},
      </if>
      <if test="redundantcountryname != null" >
        redundantCountryName = #{redundantcountryname,jdbcType=VARCHAR},
      </if>
      <if test="redundanthotelstore != null" >
        redundantHotelStore = #{redundanthotelstore,jdbcType=INTEGER},
      </if>
      <if test="creationdate != null" >
        creationDate = #{creationdate,jdbcType=TIMESTAMP},
      </if>
      <if test="createdby != null" >
        createdBy = #{createdby,jdbcType=BIGINT},
      </if>
      <if test="modifydate != null" >
        modifyDate = #{modifydate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedby != null" >
        modifiedBy = #{modifiedby,jdbcType=BIGINT},
      </if>
      <if test="details != null" >
        details = #{details,jdbcType=LONGVARCHAR},
      </if>
      <if test="facilities != null" >
        facilities = #{facilities,jdbcType=LONGVARCHAR},
      </if>
      <if test="hotelpolicy != null" >
        hotelPolicy = #{hotelpolicy,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.bdqn.pojo.ItripHotelWithBLOBs" >
    update itrip_hotel
    set hotelName = #{hotelname,jdbcType=VARCHAR},
      countryId = #{countryid,jdbcType=BIGINT},
      provinceId = #{provinceid,jdbcType=BIGINT},
      cityId = #{cityid,jdbcType=BIGINT},
      address = #{address,jdbcType=VARCHAR},
      hotelType = #{hoteltype,jdbcType=INTEGER},
      hotelLevel = #{hotellevel,jdbcType=INTEGER},
      isGroupPurchase = #{isgrouppurchase,jdbcType=INTEGER},
      redundantCityName = #{redundantcityname,jdbcType=VARCHAR},
      redundantProvinceName = #{redundantprovincename,jdbcType=VARCHAR},
      redundantCountryName = #{redundantcountryname,jdbcType=VARCHAR},
      redundantHotelStore = #{redundanthotelstore,jdbcType=INTEGER},
      creationDate = #{creationdate,jdbcType=TIMESTAMP},
      createdBy = #{createdby,jdbcType=BIGINT},
      modifyDate = #{modifydate,jdbcType=TIMESTAMP},
      modifiedBy = #{modifiedby,jdbcType=BIGINT},
      details = #{details,jdbcType=LONGVARCHAR},
      facilities = #{facilities,jdbcType=LONGVARCHAR},
      hotelPolicy = #{hotelpolicy,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bdqn.pojo.ItripHotel" >
    update itrip_hotel
    set hotelName = #{hotelname,jdbcType=VARCHAR},
      countryId = #{countryid,jdbcType=BIGINT},
      provinceId = #{provinceid,jdbcType=BIGINT},
      cityId = #{cityid,jdbcType=BIGINT},
      address = #{address,jdbcType=VARCHAR},
      hotelType = #{hoteltype,jdbcType=INTEGER},
      hotelLevel = #{hotellevel,jdbcType=INTEGER},
      isGroupPurchase = #{isgrouppurchase,jdbcType=INTEGER},
      redundantCityName = #{redundantcityname,jdbcType=VARCHAR},
      redundantProvinceName = #{redundantprovincename,jdbcType=VARCHAR},
      redundantCountryName = #{redundantcountryname,jdbcType=VARCHAR},
      redundantHotelStore = #{redundanthotelstore,jdbcType=INTEGER},
      creationDate = #{creationdate,jdbcType=TIMESTAMP},
      createdBy = #{createdby,jdbcType=BIGINT},
      modifyDate = #{modifydate,jdbcType=TIMESTAMP},
      modifiedBy = #{modifiedby,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>