<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bdqn.dao.ItripHotelOrderMapper" >
  <resultMap id="BaseResultMap" type="com.bdqn.pojo.ItripHotelOrder" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="userId" property="userid" jdbcType="BIGINT" />
    <result column="orderType" property="ordertype" jdbcType="INTEGER" />
    <result column="orderNo" property="orderno" jdbcType="VARCHAR" />
    <result column="tradeNo" property="tradeno" jdbcType="VARCHAR" />
    <result column="hotelId" property="hotelid" jdbcType="BIGINT" />
    <result column="hotelName" property="hotelname" jdbcType="VARCHAR" />
    <result column="roomId" property="roomid" jdbcType="BIGINT" />
    <result column="count" property="count" jdbcType="INTEGER" />
    <result column="bookingDays" property="bookingdays" jdbcType="INTEGER" />
    <result column="checkInDate" property="checkindate" jdbcType="TIMESTAMP" />
    <result column="checkOutDate" property="checkoutdate" jdbcType="TIMESTAMP" />
    <result column="orderStatus" property="orderstatus" jdbcType="INTEGER" />
    <result column="payAmount" property="payamount" jdbcType="DECIMAL" />
    <result column="payType" property="paytype" jdbcType="INTEGER" />
    <result column="noticePhone" property="noticephone" jdbcType="VARCHAR" />
    <result column="noticeEmail" property="noticeemail" jdbcType="VARCHAR" />
    <result column="isNeedInvoice" property="isneedinvoice" jdbcType="INTEGER" />
    <result column="invoiceType" property="invoicetype" jdbcType="INTEGER" />
    <result column="invoiceHead" property="invoicehead" jdbcType="VARCHAR" />
    <result column="linkUserName" property="linkusername" jdbcType="VARCHAR" />
    <result column="bookType" property="booktype" jdbcType="INTEGER" />
    <result column="creationDate" property="creationdate" jdbcType="TIMESTAMP" />
    <result column="createdBy" property="createdby" jdbcType="BIGINT" />
    <result column="modifyDate" property="modifydate" jdbcType="TIMESTAMP" />
    <result column="modifiedBy" property="modifiedby" jdbcType="BIGINT" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.bdqn.pojo.ItripHotelOrder" extends="BaseResultMap" >
    <result column="specialRequirement" property="specialrequirement" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, userId, orderType, orderNo, tradeNo, hotelId, hotelName, roomId, count, bookingDays, 
    checkInDate, checkOutDate, orderStatus, payAmount, payType, noticePhone, noticeEmail, 
    isNeedInvoice, invoiceType, invoiceHead, linkUserName, bookType, creationDate, createdBy, 
    modifyDate, modifiedBy
  </sql>
  <sql id="Blob_Column_List" >
    specialRequirement
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from itrip_hotel_order
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from itrip_hotel_order
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.bdqn.pojo.ItripHotelOrder" >
    insert into itrip_hotel_order (id, userId, orderType, 
      orderNo, tradeNo, hotelId, 
      hotelName, roomId, count, 
      bookingDays, checkInDate, checkOutDate, 
      orderStatus, payAmount, payType, 
      noticePhone, noticeEmail, isNeedInvoice, 
      invoiceType, invoiceHead, linkUserName, 
      bookType, creationDate, createdBy, 
      modifyDate, modifiedBy, specialRequirement
      )
    values (#{id,jdbcType=BIGINT}, #{userid,jdbcType=BIGINT}, #{ordertype,jdbcType=INTEGER}, 
      #{orderno,jdbcType=VARCHAR}, #{tradeno,jdbcType=VARCHAR}, #{hotelid,jdbcType=BIGINT}, 
      #{hotelname,jdbcType=VARCHAR}, #{roomid,jdbcType=BIGINT}, #{count,jdbcType=INTEGER}, 
      #{bookingdays,jdbcType=INTEGER}, #{checkindate,jdbcType=TIMESTAMP}, #{checkoutdate,jdbcType=TIMESTAMP}, 
      #{orderstatus,jdbcType=INTEGER}, #{payamount,jdbcType=DECIMAL}, #{paytype,jdbcType=INTEGER}, 
      #{noticephone,jdbcType=VARCHAR}, #{noticeemail,jdbcType=VARCHAR}, #{isneedinvoice,jdbcType=INTEGER}, 
      #{invoicetype,jdbcType=INTEGER}, #{invoicehead,jdbcType=VARCHAR}, #{linkusername,jdbcType=VARCHAR}, 
      #{booktype,jdbcType=INTEGER}, #{creationdate,jdbcType=TIMESTAMP}, #{createdby,jdbcType=BIGINT}, 
      #{modifydate,jdbcType=TIMESTAMP}, #{modifiedby,jdbcType=BIGINT}, #{specialrequirement,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.bdqn.pojo.ItripHotelOrder" >
    insert into itrip_hotel_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userid != null" >
        userId,
      </if>
      <if test="ordertype != null" >
        orderType,
      </if>
      <if test="orderno != null" >
        orderNo,
      </if>
      <if test="tradeno != null" >
        tradeNo,
      </if>
      <if test="hotelid != null" >
        hotelId,
      </if>
      <if test="hotelname != null" >
        hotelName,
      </if>
      <if test="roomid != null" >
        roomId,
      </if>
      <if test="count != null" >
        count,
      </if>
      <if test="bookingdays != null" >
        bookingDays,
      </if>
      <if test="checkindate != null" >
        checkInDate,
      </if>
      <if test="checkoutdate != null" >
        checkOutDate,
      </if>
      <if test="orderstatus != null" >
        orderStatus,
      </if>
      <if test="payamount != null" >
        payAmount,
      </if>
      <if test="paytype != null" >
        payType,
      </if>
      <if test="noticephone != null" >
        noticePhone,
      </if>
      <if test="noticeemail != null" >
        noticeEmail,
      </if>
      <if test="isneedinvoice != null" >
        isNeedInvoice,
      </if>
      <if test="invoicetype != null" >
        invoiceType,
      </if>
      <if test="invoicehead != null" >
        invoiceHead,
      </if>
      <if test="linkusername != null" >
        linkUserName,
      </if>
      <if test="booktype != null" >
        bookType,
      </if>
      <if test="creationdate != null" >
        creationDate,
      </if>
      <if test="createdby != null" >
        createdBy,
      </if>
      <if test="modifydate != null" >
        modifyDate,
      </if>
      <if test="modifiedby != null" >
        modifiedBy,
      </if>
      <if test="specialrequirement != null" >
        specialRequirement,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=BIGINT},
      </if>
      <if test="ordertype != null" >
        #{ordertype,jdbcType=INTEGER},
      </if>
      <if test="orderno != null" >
        #{orderno,jdbcType=VARCHAR},
      </if>
      <if test="tradeno != null" >
        #{tradeno,jdbcType=VARCHAR},
      </if>
      <if test="hotelid != null" >
        #{hotelid,jdbcType=BIGINT},
      </if>
      <if test="hotelname != null" >
        #{hotelname,jdbcType=VARCHAR},
      </if>
      <if test="roomid != null" >
        #{roomid,jdbcType=BIGINT},
      </if>
      <if test="count != null" >
        #{count,jdbcType=INTEGER},
      </if>
      <if test="bookingdays != null" >
        #{bookingdays,jdbcType=INTEGER},
      </if>
      <if test="checkindate != null" >
        #{checkindate,jdbcType=TIMESTAMP},
      </if>
      <if test="checkoutdate != null" >
        #{checkoutdate,jdbcType=TIMESTAMP},
      </if>
      <if test="orderstatus != null" >
        #{orderstatus,jdbcType=INTEGER},
      </if>
      <if test="payamount != null" >
        #{payamount,jdbcType=DECIMAL},
      </if>
      <if test="paytype != null" >
        #{paytype,jdbcType=INTEGER},
      </if>
      <if test="noticephone != null" >
        #{noticephone,jdbcType=VARCHAR},
      </if>
      <if test="noticeemail != null" >
        #{noticeemail,jdbcType=VARCHAR},
      </if>
      <if test="isneedinvoice != null" >
        #{isneedinvoice,jdbcType=INTEGER},
      </if>
      <if test="invoicetype != null" >
        #{invoicetype,jdbcType=INTEGER},
      </if>
      <if test="invoicehead != null" >
        #{invoicehead,jdbcType=VARCHAR},
      </if>
      <if test="linkusername != null" >
        #{linkusername,jdbcType=VARCHAR},
      </if>
      <if test="booktype != null" >
        #{booktype,jdbcType=INTEGER},
      </if>
      <if test="creationdate != null" >
        #{creationdate,jdbcType=TIMESTAMP},
      </if>
      <if test="createdby != null" >
        #{createdby,jdbcType=BIGINT},
      </if>
      <if test="modifydate != null" >
        #{modifydate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedby != null" >
        #{modifiedby,jdbcType=BIGINT},
      </if>
      <if test="specialrequirement != null" >
        #{specialrequirement,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bdqn.pojo.ItripHotelOrder" >
    update itrip_hotel_order
    <set >
      <if test="userid != null" >
        userId = #{userid,jdbcType=BIGINT},
      </if>
      <if test="ordertype != null" >
        orderType = #{ordertype,jdbcType=INTEGER},
      </if>
      <if test="orderno != null" >
        orderNo = #{orderno,jdbcType=VARCHAR},
      </if>
      <if test="tradeno != null" >
        tradeNo = #{tradeno,jdbcType=VARCHAR},
      </if>
      <if test="hotelid != null" >
        hotelId = #{hotelid,jdbcType=BIGINT},
      </if>
      <if test="hotelname != null" >
        hotelName = #{hotelname,jdbcType=VARCHAR},
      </if>
      <if test="roomid != null" >
        roomId = #{roomid,jdbcType=BIGINT},
      </if>
      <if test="count != null" >
        count = #{count,jdbcType=INTEGER},
      </if>
      <if test="bookingdays != null" >
        bookingDays = #{bookingdays,jdbcType=INTEGER},
      </if>
      <if test="checkindate != null" >
        checkInDate = #{checkindate,jdbcType=TIMESTAMP},
      </if>
      <if test="checkoutdate != null" >
        checkOutDate = #{checkoutdate,jdbcType=TIMESTAMP},
      </if>
      <if test="orderstatus != null" >
        orderStatus = #{orderstatus,jdbcType=INTEGER},
      </if>
      <if test="payamount != null" >
        payAmount = #{payamount,jdbcType=DECIMAL},
      </if>
      <if test="paytype != null" >
        payType = #{paytype,jdbcType=INTEGER},
      </if>
      <if test="noticephone != null" >
        noticePhone = #{noticephone,jdbcType=VARCHAR},
      </if>
      <if test="noticeemail != null" >
        noticeEmail = #{noticeemail,jdbcType=VARCHAR},
      </if>
      <if test="isneedinvoice != null" >
        isNeedInvoice = #{isneedinvoice,jdbcType=INTEGER},
      </if>
      <if test="invoicetype != null" >
        invoiceType = #{invoicetype,jdbcType=INTEGER},
      </if>
      <if test="invoicehead != null" >
        invoiceHead = #{invoicehead,jdbcType=VARCHAR},
      </if>
      <if test="linkusername != null" >
        linkUserName = #{linkusername,jdbcType=VARCHAR},
      </if>
      <if test="booktype != null" >
        bookType = #{booktype,jdbcType=INTEGER},
      </if>
      <if test="creationdate != null" >
        creationDate = #{creationdate,jdbcType=TIMESTAMP},
      </if>
      <if test="createdby != null" >
        createdBy = #{createdby,jdbcType=BIGINT},
      </if>
      <if test="modifydate != null" >
        modifyDate = #{modifydate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedby != null" >
        modifiedBy = #{modifiedby,jdbcType=BIGINT},
      </if>
      <if test="specialrequirement != null" >
        specialRequirement = #{specialrequirement,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.bdqn.pojo.ItripHotelOrder" >
    update itrip_hotel_order
    set userId = #{userid,jdbcType=BIGINT},
      orderType = #{ordertype,jdbcType=INTEGER},
      orderNo = #{orderno,jdbcType=VARCHAR},
      tradeNo = #{tradeno,jdbcType=VARCHAR},
      hotelId = #{hotelid,jdbcType=BIGINT},
      hotelName = #{hotelname,jdbcType=VARCHAR},
      roomId = #{roomid,jdbcType=BIGINT},
      count = #{count,jdbcType=INTEGER},
      bookingDays = #{bookingdays,jdbcType=INTEGER},
      checkInDate = #{checkindate,jdbcType=TIMESTAMP},
      checkOutDate = #{checkoutdate,jdbcType=TIMESTAMP},
      orderStatus = #{orderstatus,jdbcType=INTEGER},
      payAmount = #{payamount,jdbcType=DECIMAL},
      payType = #{paytype,jdbcType=INTEGER},
      noticePhone = #{noticephone,jdbcType=VARCHAR},
      noticeEmail = #{noticeemail,jdbcType=VARCHAR},
      isNeedInvoice = #{isneedinvoice,jdbcType=INTEGER},
      invoiceType = #{invoicetype,jdbcType=INTEGER},
      invoiceHead = #{invoicehead,jdbcType=VARCHAR},
      linkUserName = #{linkusername,jdbcType=VARCHAR},
      bookType = #{booktype,jdbcType=INTEGER},
      creationDate = #{creationdate,jdbcType=TIMESTAMP},
      createdBy = #{createdby,jdbcType=BIGINT},
      modifyDate = #{modifydate,jdbcType=TIMESTAMP},
      modifiedBy = #{modifiedby,jdbcType=BIGINT},
      specialRequirement = #{specialrequirement,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bdqn.pojo.ItripHotelOrder" >
    update itrip_hotel_order
    set userId = #{userid,jdbcType=BIGINT},
      orderType = #{ordertype,jdbcType=INTEGER},
      orderNo = #{orderno,jdbcType=VARCHAR},
      tradeNo = #{tradeno,jdbcType=VARCHAR},
      hotelId = #{hotelid,jdbcType=BIGINT},
      hotelName = #{hotelname,jdbcType=VARCHAR},
      roomId = #{roomid,jdbcType=BIGINT},
      count = #{count,jdbcType=INTEGER},
      bookingDays = #{bookingdays,jdbcType=INTEGER},
      checkInDate = #{checkindate,jdbcType=TIMESTAMP},
      checkOutDate = #{checkoutdate,jdbcType=TIMESTAMP},
      orderStatus = #{orderstatus,jdbcType=INTEGER},
      payAmount = #{payamount,jdbcType=DECIMAL},
      payType = #{paytype,jdbcType=INTEGER},
      noticePhone = #{noticephone,jdbcType=VARCHAR},
      noticeEmail = #{noticeemail,jdbcType=VARCHAR},
      isNeedInvoice = #{isneedinvoice,jdbcType=INTEGER},
      invoiceType = #{invoicetype,jdbcType=INTEGER},
      invoiceHead = #{invoicehead,jdbcType=VARCHAR},
      linkUserName = #{linkusername,jdbcType=VARCHAR},
      bookType = #{booktype,jdbcType=INTEGER},
      creationDate = #{creationdate,jdbcType=TIMESTAMP},
      createdBy = #{createdby,jdbcType=BIGINT},
      modifyDate = #{modifydate,jdbcType=TIMESTAMP},
      modifiedBy = #{modifiedby,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>