<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:aop="http://www.springframework.org/schema/aop" 
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx-3.2.xsd 
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.2.xsd">
    
	 <!-- <bean id="userService" class="cn.smbms.service.user.UserServiceImpl2">
		<property name="userMapper" ref="userMapper"/>
	</bean> -->
	
	<!--spring配置文件  -->
	<!--配置数据源  -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name ="driverClassName" value="com.mysql.jdbc.Driver"/>
		<property name="url" value="jdbc:mysql://127.0.0.1:3306/itripdb?useUnicode=true&amp;characterEncoding=utf-8"/>
		<property name="username" value="root"/>
		<property name="password" value="123"/>
	</bean>
	
	<!--配置SqlSessionFactoryBean-->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource"/>
		<property name="configLocation" value="classpath:mybatis-config.xml"/>
	</bean>
	
	<!--配置DAO  -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
			<property name="basePackage" value="cn.itrip.dao.itriphotel"></property>
	</bean>
	
	<context:component-scan base-package="cn.itrip.service.itriphotel,cn.itrip.controller" />
	<!-- 配置扫描注解定义的业务Bean -->
	<!--定义事物管理器  -->
	 <bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"/>
	</bean>
	
	<!--<tx:annotation-driven transaction-manager="txManager"/> -->
	<!--通过<tx:advice>标签为指定的事物管理管理器设置事物属性  -->
	<tx:advice id="txAdvice" transaction-manager="txManager">
		<tx:attributes>
			<tx:method name="find*" propagation="SUPPORTS"/>
			<tx:method name="add*" propagation="REQUIRED"/>
			<tx:method name="del*" propagation="REQUIRED"/>
			<tx:method name="update*" propagation="REQUIRED"/>
			<tx:method name="*" propagation="REQUIRED"/>
		</tx:attributes>
	</tx:advice>
	
	<!--定义切面  -->
	<aop:config>
		<!--定义切入点  -->
		<aop:pointcut id="serviceMethod" expression="execution(* cn.itrip.service..*.*(..))"/>
		<!--将事物增强与切入点组合  -->
		<aop:advisor advice-ref="txAdvice" pointcut-ref="serviceMethod"/>
	</aop:config>
	
	
	<!-- <bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg name="sqlSessionFactory" ref="sqlSessionFactory"/>
	</bean>
	<bean id="userMapper" class="cn.smbms.dao.user.UserMapperImpl2">
		 <property name="sqlSession" ref="sqlSessionTemplate"/> 
	</bean>
	<bean id="userService2" class="cn.smbms.service.user.UserServiceImpl2">
		<property name="userMapper" ref="userMapper"/>
	</bean> -->
	
	 
</beans>
