<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bdqn.dao.ItripTradeEnds.ItripTradeEndsMapper">
	<resultMap id="BaseResultMap" type="com.bdqn.pojo.ItripTradeEnds">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="orderNo" property="orderno" jdbcType="VARCHAR" />
		<result column="flag" property="flag" jdbcType="BIT" />
	</resultMap>
	<sql id="Base_Column_List">
		id, orderNo, flag
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from itrip_trade_ends
		<where>
			<if test="id != null and id !=''">
				id = #{id}
			</if>
		</where>
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from itrip_trade_ends
		where id = #{id,jdbcType=BIGINT}
	</delete>
	<!-- <insert id="insert" parameterType="com.bdqn.pojo.ItripTradeEnds" > 
		insert into itrip_trade_ends (id, orderNo, flag) values (#{id,jdbcType=BIGINT}, 
		#{orderno,jdbcType=VARCHAR}, #{flag,jdbcType=BIT}) </insert> -->
	<insert id="insertSelective" parameterType="com.bdqn.pojo.ItripTradeEnds">
		insert into itrip_trade_ends
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="orderno != null">
				orderNo,
			</if>
			<if test="flag != null">
				flag,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=BIGINT},
			</if>
			<if test="orderno != null">
				#{orderno,jdbcType=VARCHAR},
			</if>
			<if test="flag != null">
				#{flag,jdbcType=BIT},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.bdqn.pojo.ItripTradeEnds">
		update itrip_trade_ends
		<set>
			<if test="orderno != null">
				orderNo = #{orderno,jdbcType=VARCHAR},
			</if>
			<if test="flag != null">
				flag = #{flag,jdbcType=BIT},
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	<!-- <update id="updateByPrimaryKey" parameterType="com.bdqn.pojo.ItripTradeEnds" 
		> update itrip_trade_ends set orderNo = #{orderno,jdbcType=VARCHAR}, flag 
		= #{flag,jdbcType=BIT} where id = #{id,jdbcType=BIGINT} </update> -->
</mapper>