<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  xmlns:mvc="http://www.springframework.org/schema/mvc"
	  xmlns:p="http://www.springframework.org/schema/p"
	  xmlns:context="http://www.springframework.org/schema/context"
	  xsi:schemaLocation="
	  http://www.springframework.org/schema/beans
	  http://www.springframework.org/schema/beans/spring-beans.xsd
	  http://www.springframework.org/schema/context
	  http://www.springframework.org/schema/context/spring-context.xsd
	  http://www.springframework.org/schema/mvc
	  http://www.springframework.org/schema/mvc/spring-mvc.xsd">
	  <!-- <bean name="/index.html" class="cn.smbms.controller.IndexController"/> -->
	  
	  <!--springMVC配置文件  -->
	  <!--扫描注解  -->
	  <context:component-scan base-package="com.bdqn.controller"/>
	  <mvc:annotation-driven/>
	 <!--完成视图对应  -->
	   <!-- <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
	  	<property name="prefix" value="/"/>
	  	<property name="suffix" value=".jsp"/>
	  </bean>  -->
	  <!--配置多视图解析器；允许同样的内容数据呈现不同的view  -->
	   <bean class="org.springframework.web.servlet.view.ContentNegotiatingViewResolver">
	  	<property name="favorParameter" value="true"/>
	  	<property name="defaultContentType" value="text/html"/>
	  	<property name="mediaTypes">
	  		<map>
	  			<entry key="html" value="text/html;charset=UTF-8"/>
	  			<entry key="json" value="application/json;charset=UTF-8"/>
	  			<entry key="xml" value="application/xml;charset=UTF-8"/>
	  		</map>
	  	</property>
	  	<property name="viewResolvers">
	  		<list>
	  			 <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
				  	<property name="prefix" value="/WEB-INF/jsp/"/>
				  	<property name="suffix" value=".jsp"/>
				 </bean>
	  		</list>
	  	</property>
	  </bean> 
	  <mvc:resources mapping ="/statics/**" location="/statics/"/>
	  
	  <!--全局异常处理  -->
	  <bean class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
	  	<property name="exceptionMappings">
	  		<props>
	  			<prop key="java.lang.RuntimeException">login</prop>
	  		</props>
	  	</property>
	  </bean>
</beans>